<div class="container-fluid" style="background-color: rgba(10, 10, 10, 50%)">
    <div class="container">
        <div class="row">
            <br />
            <h2 class="titulos">AGREGAR NUEVA PUBLICACION:</h2>
        </div>
        <div class="row">
            <form action="/admin/administrador/agregar" method="post" enctype="multipart/form-data"/>
                <div class="form-group">
                    <label for="titulo">Título</label> <br>
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo">
                </div>
        </div>
        <div class="row">
            <div class="form-group" style="margin-top: 10px;">
                <label for="cuerpo">Contenido</label> <br>
                <textarea type="text" class="form-control" placeholder="Contenido" name="cuerpo"
                    style="height: 350px;"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Imagen:<input type="file" class="form-control" name="imagen" id="imagen"/></label>
                <br>
            </div>
        </div>

        <div class="row">
            <div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Guardar</button>
            </div>
        </div>

        </form>

        <div class="row">
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>