<!-- carrusel======================================= -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"
    style="background-color: rgba(10, 10, 10, 75%)">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div id="carrusel" class="container">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/computacion1okk.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    
                    <h2>Clases y asesorías de Informática</h2>
                    <p class="texto">
                        Microsoft Office, Redes Sociales, Zoom y otras herramientas digitales
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/computacion2okk.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h2>Desde la comodidad de tu casa</h2>
                    <p class="texto">
                        Clases a domicilio, completamente adaptables a tus tiempos y
                        horarios
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/computacion3okk.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block" id="carusel3">
                    <h2>18 años de experiencia avalan nuestro trabajo.</h2>

                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br /><br />

<!-- Quien soy======================================================================= -->

<div class="container-fluid" style="background-color: rgba(10, 10, 10, 75%)">
    <div class="container">
        <div class="row">
            <br />
            <a class="seccion" href="/quiensoy">¿QUIÉN SOY?:</a>
            <p class="textosecciones">
                Mi nombre es Katia, vivo en la Ciudad Autónoma de Buenos Aires y
                soy Licenciada en Educación en la especialidad de Informática,
                profesión que ejerzo desde hace 18 años. Me apasiona enseñar y
                ayudar a mis alumnos a crecer profesionalmente y como persona.
                <br />
                La sociedad moderna en la que hoy vivimos se actualiza
                aceleradamente, y para estar a la par de ese desarrollo es preciso
                dominar las nuevas herramientas informáticas y tecnológicas que
                van surgiendo, lo que puede llegar a ser un reto muy complejo.
                <br />
                Con la experiencia que poseo, y con un programa estructurado y
                diseñado para adaptarse a las necesidades específicas de cada
                alumno/a, serás capaz de asimilar los conocimientos necesarios
                para lograr tu indepedencia en cuanto al manejo de la Informática
                y la tecnología. Lo que incidirá directa y positivamente en tu
                desempeño como profesional, y también en la vida personal y
                cotidiana Aprenderás a realizar trámites online, socializar a
                través de las redes sociales, manejar zoom y cualquier otra
                herramienta que necesites para tus videoconferencias de trabajo o
                la facultad, y todo lo que necesitas conocer para manejar la
                computadora y el Internet de forma efectiva y segura.
                <br /><br />
            </p>
        </div>
    </div>
</div>
</div>

<br /><br />

<!-- Publicaciones============================================================= -->
<div class="container-fluid" style="background-color: rgba(10, 10, 10, 75%)">
    <div class="container">
        <br />
        <div class="row">
            <a class="seccion" href="/publicaciones">PUBLICACIONES</a>
        </div>
        <div class="row">
            <p class="textosecciones">
                Publicamos noticias, datos interesantes y tutoriales relacionados
                con la informática y la tecnología:
            </p>
        </div>
        <br>
        <div class="row">
            <h3>Última publicación:</h3>
        </div>
        <div class="row">
            <section class="ultnoti">
                <a href="/publicaciones"><img src="images/cargador-unico.jpg" alt="cargador unico"></a>
                <p>En 2024 cargarás todos tus dispositivos con un solo cable: ¿Qué pasará con tu
                    iPhone y tus viejos 'gadgets'? La mayoría de dispositivos electrónicos comercializados en la UE a
                    partir de finales de
                    2024 deberán...</p>
                    
            </section>
        </div>
        <br>
        <div class="row">
            <a href="/publicaciones" class="btn btn-primary">IR A LAS PUBLICACIONES</a>
        </div>
    </div>
</div>
<br />