<div class="container-fluid" style="background-color: rgba(10, 10, 10, 50%)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br />
                <h2 class="titulos">MATERIALES:</h2>

            </div>
        </div>
    </div>
</div>