
<!-- Quien soy======================================================================= -->

<div class="container-fluid" style="background-color: rgba(10, 10, 10, 50%)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br />
                <h2 class="titulos">¿QUIÉN SOY?:</h2>
                <p class="textosecciones">
                    Mi nombre es Katia, vivo en la Ciudad Autónoma de Buenos Aires y
                    soy Licenciada en Educación en la especialidad de Informática,
                    profesión que ejerzo desde hace 18 años. Me apasiona enseñar y
                    ayudar a mis alumnos a crecer profesionalmente y como persona.
                    <br />
                    La sociedad moderna en la que hoy vivimos se actualiza
                    aceleradamente, y para estar a la par de ese desarrollo es preciso
                    dominar las nuevas herramientas informáticas y tecnológicas que
                    van surgiendo, lo que puede llegar a ser un reto muy complejo.
                    <br />
                    Con la experiencia que poseo, y con un programa estructurado y
                    diseñado para adaptarse a las necesidades específicas de cada
                    alumno/a, serás capaz de asimilar los conocimientos necesarios
                    para lograr tu indepedencia en cuanto al manejo de la Informática
                    y la tecnología. Lo que incidirá directa y positivamente en tu
                    desempeño como profesional, y también en la vida personal y
                    cotidiana Aprenderás a realizar trámites online, socializar a
                    través de las redes sociales, manejar zoom y cualquier otra
                    herramienta que necesites para tus videoconferencias de trabajo o
                    la facultad, y todo lo que necesitas conocer para manejar la
                    computadora y el Internet de forma efectiva y segura.
                    <br /><br />
                </p>
            </div>
        </div>
    </div>
</div>



